<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShopSampleProject.My.MySettings.ShopSampleDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ShopSampleDB;User ID=sa;Password=password;Encrypt=False" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
